.base-input {
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc #eee #eee #ccc;
}
.base-box-shadow {
  box-shadow: 0 1px 3px #999;
}
.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.text {
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc #eee #eee #ccc;
  height: 18px;
  line-height: 18px !important;
  padding: 5px 9px;
}
.text:read-only {
  background: #f5f5f5;
}
.text.ini {
  color: #aaa;
}
.sele {
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 30px;
  overflow: visible;
  position: relative;
  z-index: 0;
  vertical-align: middle;
}
.sele.active {
  z-index: 1;
}
.sele.active span {
  border-color: #96b2d2;
}
.sele.active ul {
  display: block;
}
.sele span {
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc #eee #eee #ccc;
  height: 18px;
  line-height: 18px !important;
  padding: 5px 29px 5px 9px;
  background: url(../images/sele.gif) no-repeat 100% 0 #ffffff;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
}
.sele ul {
  position: absolute;
  top: 29px;
  left: 0;
  border: solid 1px #96b2d2;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.sele ul li {
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  border-top: solid 1px #96b2d2;
  background: #f4faff;
  color: #13273f;
  padding: 0 9px;
  font-size: 14px;
  cursor: pointer;
}
.sele ul li:first-child {
  border-top: none;
}
.sele ul li:hover {
  background: #e7f2ff;
}
.sele ul li a {
  display: block;
  height: 24px;
}
.sele ul li a:hover {
  text-decoration: none;
}
.area {
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc #eee #eee #ccc;
  line-height: 26px;
  padding: 5px 9px;
}
.base-btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  background: url(../images/btn.gif) no-repeat;
  border: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}
.base-btn:hover {
  text-decoration: none;
}
.btn1 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  background: url(../images/btn.gif) no-repeat;
  border: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  width: 85px;
  height: 36px;
  line-height: 36px;
  background-position: 0 -96px;
  color: #fff;
  font-size: 16px;
}
.btn1:hover {
  text-decoration: none;
}
.btn1:hover {
  background-position: -87px -96px;
}
.btn2 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  background: url(../images/btn.gif) no-repeat;
  border: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  width: 109px;
  height: 36px;
  line-height: 36px;
  background-position: 0 -134px;
  color: #fff;
  font-size: 16px;
}
.btn2:hover {
  text-decoration: none;
}
.btn2:hover {
  background-position: -111px -134px;
}
.btn3 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  background: url(../images/btn.gif) no-repeat;
  border: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  width: 85px;
  height: 36px;
  line-height: 36px;
  background-position: 0 -172px;
  color: #444;
  font-size: 16px;
}
.btn3:hover {
  text-decoration: none;
}
.btn3:hover {
  background-position: -87px -172px;
}
.btn4 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  background: url(../images/btn.gif) no-repeat;
  border: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  width: 109px;
  height: 36px;
  line-height: 36px;
  background-position: 0 -210px;
  color: #444;
  font-size: 16px;
}
.btn4:hover {
  text-decoration: none;
}
.btn4:hover {
  background-position: -111px -210px;
}
.btn5 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  background: url(../images/btn.gif) no-repeat;
  border: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  width: 66px;
  height: 30px;
  line-height: 30px;
  background-position: 0 -64px;
  padding-bottom: 2px;
  color: #fff;
  font-size: 14px;
}
.btn5:hover {
  text-decoration: none;
}
.btn5:hover {
  background-position: -68px -64px;
}
/*CSS Reset*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: Tahoma, '宋体', Geneva, sans-serif;
  color: #444444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: Tahoma, '宋体', Geneva, sans-serif;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #005fce;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 14px;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}
mark {
  background: #ff0;
}
img {
  vertical-align: middle;
}
/*common*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.clearfix:after,
.column:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.clearfix,
.column {
  *zoom: 1;
}
.tac {
  text-align: center;
}
.mt1 {
  margin-top: 5px;
}
.mt2 {
  margin-top: 10px;
}
.mt3 {
  margin-top: 15px;
}
.mt4 {
  margin-top: 20px;
}
.ml1 {
  margin-left: 5px;
}
.ml2 {
  margin-left: 10px;
}
.ml3 {
  margin-left: 15px;
}
.ml4 {
  margin-left: 20px;
}
.multial a {
  margin-left: 10px;
}
.multiar a {
  margin-right: 10px;
}
.loading {
  margin-right: 5px;
}
/*layout*/
body {
  background: url(../images/bodybg.png) repeat-x 0 0 #e3e3e3;
}
.wrapper {
  width: 980px;
  margin: 0 auto;
}
.header {
  margin: 0 auto;
  width: 980px;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
}
.logo {
  display: block;
  float: left;
  width: 140px;
  height: 40px;
  overflow: hidden;
  background: url(../images/logo.png) no-repeat 0 0;
  text-indent: -1000px;
}
.logo:hover {
  background-position: 0 -40px;
}
.topNav {
  float: left;
}
.topNav li {
  float: left;
  padding-left: 20px;
}
.topNav li a {
  color: #ddd;
  font-size: 14px;
  white-space: nowrap;
}
#topSearch {
  width: 210px;
  height: 24px;
  overflow: hidden;
  float: right;
  margin-top: 8px;
  background: #e5e5e5;
  position: relative;
}
#topSearch #topSearchText {
  width: 170px;
  padding: 0 6px;
  height: 24px;
  line-height: 24px;
  background: none;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
}
#topSearch #topSearchBtn {
  width: 28px;
  height: 24px;
  overflow: hidden;
  text-indent: 200px;
  background: url(../images/btn.gif) no-repeat 0 0;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
#topSearch #topSearchBtn:hover {
  background-position: -30px 0;
}
.footer {
  clear: both;
  width: 970px;
  padding: 15px 5px;
  margin: 0 auto;
  height: 20px;
  line-height: 20px;
  text-align: right;
  color: #666;
  white-space: nowrap;
}
.footer a {
  margin-right: 13px;
}
/*main*/
.main_home {
  clear: both;
  margin: 0 auto;
  width: 980px;
}
.quickNav {
  margin-top: 20px;
}
.quickNav a {
  display: inline-block;
  width: 155px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-indent: -1000px;
  background: url(../images/quicknav.png) no-repeat;
  margin-left: 10px;
  box-shadow: 0 1px 3px #999;
}
.quickNav a.a1 {
  margin-left: 0;
  background-position: 0px 0;
}
.quickNav a.a1:hover {
  background-position: 0px -50px;
}
.quickNav a.a2 {
  background-position: -165px 0;
}
.quickNav a.a2:hover {
  background-position: -165px -50px;
}
.quickNav a.a3 {
  background-position: -330px 0;
}
.quickNav a.a3:hover {
  background-position: -330px -50px;
}
.quickNav a.a4 {
  background-position: -495px 0;
}
.quickNav a.a4:hover {
  background-position: -495px -50px;
}
.quickNav a.a5 {
  background-position: -660px 0;
}
.quickNav a.a5:hover {
  background-position: -660px -50px;
}
.quickNav a.a6 {
  background-position: -825px 0;
}
.quickNav a.a6:hover {
  background-position: -825px -50px;
}
.hotSearch {
  background: #fff;
  box-shadow: 0 1px 3px #999;
  height: 32px;
  line-height: 32px;
  padding: 0 30px;
  margin-top: 17px;
}
.hotSearch a {
  margin-right: 13px;
}
.novList .t {
  white-space: nowrap;
  position: relative;
}
.novList .t h3 {
  font-size: 14px;
}
.novList .t h3 span {
  color: #999;
  margin-left: 10px;
  font-size: 12px;
  font-weight: normal;
}
.novList .t p {
  position: absolute;
  right: 0;
  top: 0;
  color: #999;
  text-align: right;
}
.novList .d {
  font-size: 14px;
  margin-top: 10px;
  line-height: 26px;
}
.novList .o {
  white-space: nowrap;
  position: relative;
  margin-top: 10px;
}
.novList .o .oc1 {
  color: #999;
}
.novList .o .oc1 span {
  margin-right: 10px;
}
.novList .o .oc2 {
  position: absolute;
  right: 0;
  top: 0;
}
.novList .o .oc2 a {
  margin-left: 12px;
}
.separated li {
  background: #fff;
  box-shadow: 0 1px 3px #999;
  padding: 18px 30px 15px;
  margin-top: 20px;
  line-height: 22px;
}
.listing {
  padding: 10px 25px 0;
}
.listing li {
  background: url(../images/line2.gif) repeat-x 0 100%;
  padding: 14px 5px 16px;
  line-height: 22px;
}
.eva {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 12px;
  height: 11px;
  line-height: 200px;
  overflow: hidden;
  background: url(../images/evabg.gif) no-repeat 0 0;
  margin-left: 10px;
}
.eva.eva_1 {
  background-position: 0 -12px;
}
/*书库*/
.main_browse {
  clear: both;
  width: 980px;
  margin: 20px auto 0;
  padding-bottom: 20px;
  background: url(../images/sidebar.gif) repeat-y 0 0 #ffffff;
  box-shadow: 0 1px 3px #999;
}
.sidebar {
  width: 180px;
  float: left;
}
.sbSearch {
  background: url(../images/line1.gif) repeat-x 0 100%;
  padding: 10px 17px 22px 15px;
  line-height: 0;
}
.sbSearch .text {
  width: 128px;
  margin-top: 10px;
}
.sbSearch .sele {
  width: 148px;
  margin-top: 10px;
}
.sbSearch .sele span {
  width: 108px;
}
.sbSearch .sele ul {
  width: 146px;
}
.sbSearch .btn5 {
  margin-top: 12px;
}
.sbhot {
  line-height: 22px;
  padding: 13px 17px 0 15px;
}
.sbhot h3 {
  margin-bottom: 2px;
}
.sbhot a {
  margin-right: 12px;
}
.result {
  margin-left: 180px;
}
.filter {
  width: 100%;
  height: 49px;
  background: url(../images/filter.gif) repeat-x 0 0;
  position: relative;
  white-space: nowrap;
}
.filter .sort {
  height: 23px;
  line-height: 23px;
  padding: 15px 0 0 25px;
}
.filter .sort span {
  display: inline-block;
  height: 23px;
  vertical-align: top;
}
.filter .sort a {
  display: inline-block;
  width: 58px;
  height: 23px;
  overflow: hidden;
  padding-left: 11px;
  margin-right: 5px;
  background: url(../images/sort.gif) no-repeat 0 0;
  vertical-align: top;
  color: #444;
}
.filter .sort a.cur,
.filter .sort a:hover {
  background-position: 0 -25px;
  color: #415f83;
  text-decoration: none;
}
.filter .total {
  height: 23px;
  line-height: 23px;
  position: absolute;
  top: 15px;
  right: 25px;
  color: #999;
}
.filter .total span {
  margin: 0 6px;
}
.pages {
  text-align: center;
  clear: both;
  padding-top: 30px;
}
.pages .pre,
.pages .next {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  background: url(../images/btn.gif) no-repeat;
  border: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  width: 36px;
  height: 36px;
  line-height: 300px;
  margin: 0 10px;
}
.pages .pre:hover,
.pages .next:hover {
  text-decoration: none;
}
.pages .pre {
  background-position: 0 -26px;
}
.pages .pre:hover {
  background-position: -38px -26px;
}
.pages .next {
  background-position: -76px -26px;
}
.pages .next:hover {
  background-position: -114px -26px;
}
.pages .sele {
  width: 70px;
}
.pages .sele span {
  width: 30px;
}
.pages .sele ul {
  width: 68px;
}
.pages .sele ul {
  top: auto;
  bottom: 29px;
}
.pages .sele ul li {
  padding: 0;
}
.browseTip {
  padding: 25px;
}
.main_form {
  clear: both;
  width: 920px;
  margin: 20px auto 0;
  padding: 0 30px 30px;
  background: #fff;
  box-shadow: 0 1px 3px #999;
  min-height: 560px;
  position: relative;
}
.main_form h1 {
  font-size: 28px;
  font-family: Microsoft YaHei;
  font-weight: normal;
  line-height: 36px;
  padding: 25px 70px 25px 0;
}
.main_form .related {
  position: absolute;
  top: 34px;
  right: 30px;
  font-size: 14px;
}
.main_form .related a {
  margin-left: 15px;
}
.tbl td {
  padding-bottom: 10px;
  font-size: 14px;
}
.tbl th {
  vertical-align: top;
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  padding-right: 5px;
  white-space: nowrap;
}
.tbl .text {
  width: 250px;
}
.tbl .area {
  width: 100%;
  height: 130px;
}
.tbl label {
  margin-right: 25px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.tbl label input {
  margin-right: 6px;
  vertical-align: middle;
}
.tbl .sele {
  width: 270px;
}
.tbl .sele span {
  width: 230px;
}
.tbl .ml {
  margin-left: 10px;
}
.tbl .btnTd {
  padding-top: 20px;
}
.tbl .btnTd input {
  margin-right: 10px;
}
.tbl .tip {
  color: #aaa;
  font-size: 12px;
}
.tbl .tip.suc,
.tbl .tip.error {
  font-size: 14px;
  font-weight: bold;
  padding-left: 22px;
}
.tbl .tip.suc {
  color: #669500;
  background: url(../images/suc.gif) no-repeat 0 1px;
}
.tbl .tip.error {
  color: #dd0000;
  background: url(../images/error.gif) no-repeat 0 1px;
}
.tbl span.tip {
  margin-left: 10px;
}
.tbl p.tip {
  margin-top: 5px;
}
.required {
  color: #dd0000;
  font-weight: bold;
}
#setDir th {
  line-height: 36px;
  font-size: 16px;
  text-align: left;
}
#setDir .text {
  padding: 8px 9px;
  width: 600px;
}
.batchOption {
  border-top: solid 1px #ddd;
  padding-top: 20px;
  margin-top: 10px;
}
.batchOption form td {
  padding-right: 20px;
}
.fileList {
  border-top: solid 1px #dddddd;
  padding-top: 20px;
  margin-top: 10px;
}
.fileList h3 {
  font-weight: normal;
  margin-bottom: 8px;
}
.fileList table {
  width: 100%;
}
.fileList table td {
  line-height: 18px;
  padding: 5px 10px;
  border-top: dotted 1px #dddddd;
}
.fileList table thead td {
  background: #f5f5f5;
  font-weight: bold;
  border-top-style: solid;
}
.fileList.bbord {
  border-bottom: solid 1px #dddddd;
}
.optionList li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  white-space: nowrap;
  width: 80px;
}
.sucDone,
.failDone {
  font-size: 36px;
  font-family: Microsoft YaHei;
  font-weight: normal;
  height: 86px;
  line-height: 86px;
  text-align: center;
}
.sucDone.doneMt,
.failDone.doneMt {
  padding-top: 200px;
  text-align: center;
}
.sucDone {
  color: #669500;
}
.failDone {
  color: #dd0000;
}
.articleTitle {
  position: relative;
}
.articleTitle .heat {
  position: absolute;
  top: 38px;
  right: 0;
  color: #999;
  font-size: 12px;
}
.articleInfo table {
  width: 100%;
}
.articleInfo table th,
.articleInfo table td {
  text-align: left;
  border: solid 1px #dddddd;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}
.articleInfo table th {
  background: #f7f7f7;
}
.articlePreview h3 {
  margin: 20px 0 10px;
  background: #f7f7f7;
  padding: 10px;
  color: #000;
  text-align: center;
}
.articlePreview h3.deleted {
  color: #444;
}
.articlePreview h3 p {
  margin-bottom: 10px;
  text-indent: 2em;
  font-size: 14px;
  line-height: 26px;
  color: #333;
}
.articlePreview h3 .goOn {
  text-align: center;
  background: #f7f7f7;
  padding: 10px;
  color: #000;
}
