{% if fileList | length != 0 %}
	{{html_listFilter | raw}}
	<ul class="novList{{extendClass}}">
		{% for file in fileList %} 
		<li id="nov_{{file['bid']}}">
			<div class="t">
				<h3>
					<a href="{{WEB_ROOT}}onebook.php?bid={{file['bid']}}" target="_blank">{{file['bname']}}</a>
					<span>作者：{{file['bauthor']}}</span>
				</h3>
				<p id="evaWrap_{{file['bid']}}">
					热度：<span class="evaCount">{{file['beva']}}</span>
					{% if file['iseva'] %}
					<span class="eva eva_1" title="取消喜欢"></span>
					{% else %}  
					<span class="eva" title="喜欢"></span>
					{% endif %}
				</p>
			</div>
			<div class="d">{{file['bsummary']}}</div>
			<div class="o">
				<p class="oc1">
					<span>{{file['btype_lang']}}</span>
					
					{% if file['bstyle'] != 0 %}
					<span>{{file['bstype_lang']}}</span>
					{% endif %}
					
					{% for tag in file['btags'] %}
					<span>{{tag}}</span>
					{% endfor %}
					
					<span>{{file['bsize']}}</span>
				</p>
				{% if file['bexist'] %}
				<p class="oc2"><a href="{{WEB_ROOT}}download.php?bid={{file['bid']}}" target="_blank">下载</a><a href="{{WEB_ROOT}}editbook.php?bid={{file['bid']}}">编辑</a><a href="javascript:void(0)" class="btnDelFile">删除</a></p>
				{% endif %}
			</div>
		</li>
		{% endfor %}
	</ul>
	{{html_pageString | raw}}
{% else %}
	<div class="browseTip">没有记录</div>
{% endif %}